
.button2{
    background-color: white;
    border: none;
    font-size: 15px;
    color:blue;
  margin-left: 10px;
    height: 25px;
    width: 180px;
    
}

.button2:hover{
    border-radius: 10px;
    border-left: 2px solid blue;
    border-right: 2px solid blue;
    box-shadow: 2px 2px 2px 2px rgb(216, 205, 205);
}
/**********************user container*************************/

.userContainer{
    padding-bottom:20px;
    background-color: rgb(236, 234, 234);
    display: flex;
    flex-direction: column;

}
.userContainer select{
  margin: 10px;
  margin-bottom: 50px;
  width: 200px;
  font-family:Georgia, 'Times New Roman', Times, serif;
}
.userBox{

  padding-right:50px;
  display: flex;
  flex-direction: row;
  margin: 20px;
  width: 80%;
  align-items: center;
}
.userBox button{
  margin-top: 30px;
  background-color: blue;
  color: bisque;
  width: 60px;
}
.userBox .box1{
  width: 50%;
  padding: 20px;
  display: flex;
  flex-direction: column;

}
.box1 label{
  font-weight: 500;
}
.box1 ::placeholder{
  padding-left: 10px;
}
/************************* Email Notification************************/

.form-controlz{
  display: block;
  width: 50%;
  font-size: 1.4rem;
  line-height: 1.2;
  background-color: rgb(236, 240, 246);
  border: 1px solid white;
  
  appearance: none;
  border-radius: 0.375rem;
  transition: border-color 0.15s case-in-out, box-shadow 0.15s;
  

  margin-left: 30%;
}

.form-group label {
  font-weight: bold; 
  margin-bottom: 5px; 
  display: block; 
}
.containerz{
  background-color: white;
  width: 95%;
  border: 1px solid rgb(201, 199, 199);
   padding: 80px;
}

.text-headingz{
  color: red;
}
 .paragraph1{
  text-align: start;
  word-spacing: normal;
  font-size: 15px;
  color: black;


} 
.paragraphz{
  text-align: start;
  word-spacing: normal;
  font-size: 12px;

} 
.text-headinga{
  color: red;
  font: bolder;

}

.form-horizontalz{
  margin-left: 80px;
  margin-right: 80px;
}